@model DAL.Models.Users 

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/StyleSheet1.css")" rel="stylesheet" type="text/css" />
    <title>Please Confirm Your Information: </title>
</head>
<body>
    <div>
        <table>
            <tr>
                <th> </th>
                <td>
                    <h5>Image Preview</h5><br>
                    <img class="headshot" id="image_prev" src="#" /><br>
                    <h5>Your Profile Pic</h5>
                    <input type="file" id="user_image" name="user_image" accept="image">
                </td>
            </tr>
            <tr>
                <th>User Name: </th>
                <td>
                    @Model.Name;
                </td>
            </tr>
            <tr>
                <th>Email Address: </th>
                <td>
                    @Model.Email;
                </td>
            </tr>
            <tr>
                <th>Password: </th>
                <td>
                    @Model.Password;
                </td>
            </tr>
        </table>
        
    </div>
    <script>
            user_image.onchange = evt => {
                const [file] = user_image.files
                if (file) {
                    image_prev.src = URL.createObjectURL(file)
                }
            }
    </script>
</body>
</html>
